@import "@design-system";

.spa-search-input-field {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 2px;
  border-radius: spacing(10);

  &__input-base {
    flex: 1;
    margin-left: spacing(3);
  }

  &__search-icon {
    background-color: var(--spa-search-input-button-background-color, $purple);
    color: var(--spa-search-input-icon-color, $white);

    &:hover {
      background-color: var(--spa-search-input-button-background-color, $black);
    }
  }
}
